FLASK_SECRET_KEY=AhmeT/BabLi-6327
ADMIN_USER=ahmetbabli7
ADMIN_PASS=13868182894
GOOGLE_API_KEY=AIzaSyBJJDgC285ZCv9430Q-lw7DX7vpKXPsoC8
N8N_PDF_MAKER_URL=https://your-domain/webhook/your-id
SESSION_COOKIE_SECURE=1
FLASK_DEBUG=0
RATELIMIT_STORAGE_URI=memory://
ENABLE_PROXY_FIX=1
PROXY_FIX_X_FOR=1
PROXY_FIX_X_PROTO=1
PROXY_FIX_X_HOST=1
PROXY_FIX_X_PORT=0
PROXY_FIX_X_PREFIX=0