# Python'un ürettiği gereksiz klasörler
__pycache__/
*.pyc

# Gizli ortam dosyaları
.env
.venv
env/
venv/

# Gizli anahtar dosyası
sirlar.py

# Veritabanı ve Yüklemeler

instance/
static/uploads/
*.db
*.db-journal

# Log dosyaları
*.log

# VS Code ayarları
.vscode/
*.code-workspace