# Python'un ürettiği gereksiz klasörler
__pycache__/
*.pyc

# Gizli ortam dosyaları (Varsa gitmesin)
.env
.venv
env/
venv/

# Eğer oluşturursan gizli anahtar dosyası
sirlar.py

# Veritabanı ve Yüklemeler (Yerel testlerin GitHub'a gidip sunucuyu karıştırmasın)
*.db
*.sqlite3
instance/
static/uploads/
static/projects.json
static/cv_data.json
static/Ahmet_Babli_CV.pdf

# VS Code ayarları (Gerek yok)
.vscode/