# Python'un ürettiği gereksiz klasörler
__pycache__/
*.pyc

# Gizli ortam dosyaları
.env
.venv
env/
venv/

# Gizli anahtar dosyası
sirlar.py

# Veritabanı ve Yüklemeler
*.db
*.sqlite3
instance/
static/uploads/

# VS Code ayarları
.vscode/
*.code-workspace